<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add page</title>
</head>
<body>
<form action="#" th:action="@{/}" th:object="${list}" method="post">
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item:${list}">
            <td th:text="${item.name}"></td>
            <td th:text="${item.status}"></td>
        </tr>
        </tbody>
    </table>
    <button type="submit" value="submit" class="btn btn-success">Submit</button>
</form>
</body>
</html>
